<h1>Currency Purchase Service</h1>

<p>This component demonstrates fetching data from the /Api/ExchangeRate/CurrencyPurchase service.</p>

<p aria-live="polite"><strong>{{ currentCount }}</strong></p>


<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">User Id</span>
  </div>
  <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Currency</label>
  </div>
  <select class="custom-select" id="inputGroupSelect01">
    <option selected>Choose...</option>
    <option value="1">USD</option>
    <option value="2">BRL</option>
  </select>
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Amount to purchase in pesos(ARS):</span>
  </div>
  <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
</div>



<button class="btn btn-primary" (click)="sorryFunction()">Purchase</button>


